.section-spacing {
  padding: 4rem 0;
  border-bottom: 1px solid #eee;
}

.ad-categories {
    background-color: #dddddd;
    padding: 1rem;
    border-radius: 4px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: center;
  margin-bottom: 2rem;
}

.category-card, .directory-card {
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.8s;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid transparent;
}
.category-card, a{
  color: inherit;
}

/* .category-card:hover, .directory-card:hover {
  transform: translateY(-5px);
} */

.category-card img:hover{
    scale: 1.05;
    filter: invert(12%) sepia(73%) saturate(3566%) hue-rotate(229deg) brightness(87%) contrast(123%);
    transition: scale 0.3s ease-in-out;
}

.category-card:hover {
    border: 1px solid #007bff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.category-card img, .directory-card img {
  height: 80px;
  margin-bottom: 1rem;
}

.locations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.location-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.location-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.location-info {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  width: 100%;
  padding: 1rem;
}

.business-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.business-card {
  padding: 1.5rem;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.side-banner img, .news-banner img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.news-carousel {
  display: grid;
  gap: 1.5rem;
}

.news-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-content {
  padding: 1.5rem;
}

/* @media (max-width: 768px) {
  .category-grid, .directory-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */


/* Swiper slider */

.news-carousel {
  width: 100%;
  height: 400px; 
}

.swiper-slide {
  height: auto !important;
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}


