  
  /* Individual slides */
  .slick-slide img {
    padding: 0px 10px; 
    height: auto;
  }
  
  /* Prev and next buttons styles */

  .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease;
    
    
    &::before {
      display: none;
    }
    
  }
  
  .custom-slick-prev {
    left: -50px;
  }
  
  .custom-slick-next {
    right: -50px;
  }
  
  @media (max-width: 768px) {
    .custom-slick-prev {
      left: -20px;
    }
    
    .custom-slick-next {
      right: -20px;
    }
  }
  .spot2-swiper {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.spot2-banner-img {
  width: 100%;
  height: 307px;
  object-fit: cover;
  border-radius: 3px;
}

.swiper-slide {
  transition: opacity 0.5s ease-in-out;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-next {
  opacity: 0.5;
}

.search-btn{
  font-size: 10px;
  border-radius: 2px;
  color: #fff;
  background: #000;
}

.search-btn:hover{
  color: #fff;
  background: tomato;
}

  