.catSearch {
    position: relative;
    transition: all 0.3s ease-in-out;
    text-align: left;
    width: 100%;
    font-size: 1rem;
    color: #333;
    padding-left: 0;
    background: transparent;
    border: none;
  }

  .catSearch span {
    position: relative;
    display: inline-block;
    transition: inherit;
  }

  .catSearch::before {
    content: '';
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    border-radius: 1px;
    height: 0;
    background: tomato;
    /* transition: all 0.3s ease-in-out; */
  }

  .catSearch:hover {
    color: tomato;
    padding-left: 15px;
  }

  .catSearch:hover::before {
    height: 80%;
  }

  .catSearch:hover span {
    transform: scale(1.05);
  }